@{
    ViewData["Title"] = "Home Page";

}

<h1>About this App</h1>
<p class="mt-4">Welcome to my very first C# ASP .NET App</p>
<p>With this simple app I explore the functionality of the MVC Pattern and how to implement basic CRUD operations.</p>
